<nav class="navbar-lewagon bottom-navbar">

  <%= link_to discover_path, class: "bottom-nav-icon" do %>
    <%# FIXED: Use correct class name for Material Symbols font %>
    <i class="material-symbols-outlined">explore_nearby</i>
  <% end %>

  <%= link_to new_event_path, class: "bottom-nav-icon bottom-center" do %>
  <%# FIXED: Use correct class name for Material Symbols font %>
  <i class="material-symbols-outlined">add_circle</i>
  <% end %>


  <%= link_to events_path, class: "bottom-nav-icon" do %>
    <%# FIXED: Use correct class name for Material Symbols font %>
    <i class="material-symbols-outlined">calendar_check</i>
  <% end %>

</nav>
