<nav class="navbar-lewagon upper-navbar">

  <div class="navbar-left">
    <% if request.referer.present? && request.referer != request.original_url %>
      <%= link_to request.referer, class: "back-arrow" do %>
        <%# FIXED: Use correct class name for Material Symbols font %>
        <i class="material-symbols-outlined">arrow_back</i>
      <% end %>
    <% end %>
  </div>

  <div class="navbar-brand">
    <%= link_to root_path do %>
      <span class="navbar-logo-text">ChaCha</span>
    <% end %>
  </div>

  <div class="navbar-actions">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path,
                  method: :delete,
                  data: { turbo_method: :delete },
                  class: "navbar-icon-button" do %>
        <%# FIXED: Use correct class name for Material Symbols font %>
        <i class="material-symbols-outlined">logout</i>
      <% end %>
    <% else %>

      <%= link_to new_user_session_path, class: "navbar-icon-button" do %>
        <%# FIXED: Use correct class name for Material Symbols font %>
        <i class="material-symbols-outlined">logout</i>
      <% end %>
    <% end %>
  </div>

</nav>
