<%# Manage Guests Modal - Host sees management view, invitees see read-only view %>

<div class="rsvp-modal-overlay manage-guests-overlay is-hidden" id="manage-guests-modal">
  <div class="rsvp-modal manage-guests-modal">
    <button type="button" class="rsvp-modal-close manage-guests-close" aria-label="Close">&times;</button>

    <%= render "events/manage_guests_content", event: event %>
  </div>
</div>
