<%# RSVP Modal with Segmented Control %>

<div class="rsvp-modal-overlay is-hidden">
  <div class="rsvp-modal">
    <button type="button" class="rsvp-modal-close" aria-label="Close">&times;</button>

    <%= render "events/rsvp_modal_content" %>
  </div>
</div>
