<header class="dashboard-header">
  <h1>My events</h1>
</header>

<% if user_signed_in? %>
  <p>
    <%= link_to "Create a new event", new_event_path %>
  </p>

  <% if @events.any? %>
    <div class="event-card-container">
      <% @events.each do |event| %>
        <%= render "event_card", event: event %>
      <% end %>
    </div>
  <% else %>
    <p>You don't have any events yet.</p>
  <% end %>
<% else %>
  <p>You need to log in to see your events.</p>
<% end %>
