<div class="homepage">

  <h1>Welcome to ChaCha!</h1>

  <h2>Plan events in seconds.</h2>

  <p class="intro-text">
    The easiest way to get your guests on the same page.
  </p>

  <p class="sub-text">
    Share with anyone, anywhere.<br>
    Click, RSVP, done.<br>
    See who's going.
  </p>

  <div class="cta">
    <%= link_to "Create event", new_event_path, class: "cta-button" %>
  </div>

</div>
