.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: none !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
  }
}

.mapboxgl-ctrl-geocoder--input {
  border: none !important;
  padding-left: 2rem !important;
  height: 2.5rem !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
    outline: none !important;

  }
}

.event_location {
  margin-bottom: 0px !important;
}
